<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Sowjanya/IdeaProjects/Learning_Selenium/src/test/java/Selenium/learning/Selenium_006.java"><classes><class name="Selenium.learning.Selenium_006"><methods><include name="Katalon"/></methods></class></classes></test></suite>